body{
	color: #cc6600;
}

.main, .intro{
	width: 600px; 
	margin: auto; 
}

.sidebar {
	margin-top: 200px; 
	margin-left: 600px; 
	position: absolute; 
	top: 0; 
	right: 0;
}
footer{
	margin-left: 120px;
	margin-top: 30px;
	margin-bottom: 30px;
}

footer a{
	margin-right: 30px;
	min-width: 50px;
	display: inline-block;
	text-decoration: none;
	text-align: center;
	padding: 2px;
	color: #b35900;
	border: 1px solid #ffffff;
}

footer a:hover{
	border-color: #ffa54d;
	border-radius: 2px;
}



/**
    Scrollbar styling for Chrome 
*/
::-webkit-scrollbar-track{
   background-color: #D5D6D7;            
}

::-webkit-scrollbar{
   background-color: #D5D6D7;
   width:8px;
   height:8px;
}

::-webkit-scrollbar-thumb{
    background-color: #A7A5A6;
    border-radius: 6px;
}
        
/**
    Scrollbar styling for IE
*/
body{
    scrollbar-base-color: #D5D6D7;
    scrollbar-3dlight-color: #D5D6D7;
    scrollbar-highlight-color: #A7A5A6;
    scrollbar-track-color: #D5D6D7;
    scrollbar-arrow-color: #D5D6D7;
    scrollbar-shadow-color: #A7A5A6;
    scrollbar-dark-shadow-color: #A7A5A6;
    scrollbar-face-color: #A7A5A6;
}
